<table>
    <thead>
        <tr>
            <th> Patients ID </th>
            <th> Providers ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> provider_specialty</th>
        </tr>
    </thead>
    <tbody>
        <% results.forEach(row =>{%>
            <tr>
                <td> <%= row.patient_id %> </td>
                <td> <%= row.provider_id %> </td>
                <td> <%= row.first_name %> </td>
                <td> <%= row.last_name %> </td>
                <td> <%= row.provider_specialty%> </td>
            </tr>
        <%});%>
    </tbody>
</table>